#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.nav_bar_name {
  font-size: 1.5em;
  font-weight: bold;
}

.main_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.split_screen_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 110%;
  height: 110%;
}
